// COLOR VARIABLES
$color-primary: #c19f57;
$color-primary-dark: darken( $color-primary, 20% );

$color-secondary: #012756;
$color-highlight: #054086;
$color-shadow: #000913;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #001A39;
$color-grey-dark-2: #000913;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;
$title: 'Playfair Display SC';


// breakpoints
$bp-largest: 75em; // 1200 px
$bp-large: 62.5em; // 1000 px
$bp-medium: 50em; // 800 px

//margins
.mt-sm{
  margin-top: 2rem;
}
.mt-md{
  margin-top: 4rem;
}
.mt-lg{
  margin-top: 6rem;
}



*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: $bp-largest){
    font-size: 50%;
  }
}

body{
  font-family: $color-primary;
  color:$color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container{
  display: grid;
  grid-template-rows:  100vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [full-start] minmax(6rem,1fr) [center-start]repeat(8,[col-start] minmax(min-content,
   14rem)[col-end]) [center-end] minmax(6rem,1fr) [full-end];

   @media only screen and (max-width: $bp-large){
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem,1fr) [center-start]repeat(8,[col-start] minmax(min-content,
     14rem)[col-end]) [center-end] minmax(6rem,1fr) [full-end];
  }

}
